<aside class="indoor-behavior-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!--  is leave now and count of leave times -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 leave-info-area">
        <section class="is-leave-area leave-false col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="is-leave">
                {{leaveTitle}}
            </p>
        </section>
        <section class="leave-count-area col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="leave-count-title">{{countLeaveTitle}}</p>
            <p class="leave-count">{{countLeave}}</p>
        </section>
    </div>


    <!-- is Calling now and count of calling times -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 call-info-area">
        <section class="is-calling-area calling-true col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="is-calling">
                {{isCallingTitle}}
            </p>
        </section>
        <section class="call-count-area col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p class="call-count-title">{{countCallTitle}}</p>
            <p class="call-count">{{countCall}}</p>
        </section>
    </div>

</aside>
