@charset "UTF-8";
.row:before{
    display: none;
}
.card-location{
    cursor: pointer;
    padding: 0px 5px;
}
/* customer info include avatar, name, age, environment temperature */
.customer-info-area {
    position: relative;
    width: 100%;
    height: 20%;
    padding-top:5px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #FCFFF5;
}

.customer-avatar-block, .customer-detail-avatar-block {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
.avatar{
    margin: auto;
    position: relative;
    height: 80px;
    width: 80px;
}
.avatar img{
    position: relative;
    width: 100%;
    height: 100%;
}

.customer-name-age-block, .environment-temperature-block {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color:#D1DBBD;
}

.name-and-sex{
    position: relative;
    height: 50%;
}
.name {
    font-size: 1em;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.name:hover:before, .name:hover:after{
    opacity: 1;
}

.name:before{
    content: attr(name);
    background: #d9444a;
    color: #fff;
    padding: .8em 1em;
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: 14px;
    white-space: pre;
}

.name:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #d9444a transparent transparent;
}

.name:before, .name:after {
    opacity: 0;
     -moz-transition: opacity 0.3s ease-out;
     -o-transition: opacity 0.3s ease-out;
     -webkit-transition: opacity 0.3s ease-out;
     transition: opacity 0.3s ease-out;
}*/

.sex {
    padding-left: 1em;
}
.age{
}
.age span {
}

.temperature {

}

.physiological-component {
    position: relative;
    background-color: #3E606F;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Pop up patient detail information */
.customer-detaile-page {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(55, 70, 103, 0.83);*/
    background-color: #D1DBBD;
    top: 0%;
    left: 0%;
    z-index: 10;
    display: none;
    cursor: pointer;

}

.display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.customer-detail-info-block,
.customer-detail-table-block{
    width: 45%;
    height: 95%;
    background-color: #3E606F;
    border-radius: 10px;
    padding:10px;
}

.customer-detail-body-info-block,
.customer-detail-address-block,
.customer-detail-contact-block,
.customer-detail-room-block,
.customer-detail-device-block,
.customer-detail-indoor-block,
.customer-detail-walk-block,
.customer-detail-phy-block{
    color: #D1DBBD;
    font-size: 1.2em;
    padding:0px 5px;
}
.customer-detail-name,
.customer-detail-body,
.customer-detail-address,
.customer-detail-contact,
.customer-detail-room,
.customer-detail-device,
.customer-detail-indoor,
.customer-detail-walk,
.customer-detail-heartbeat,
.customer-detail-breath,
.customer-detail-blood-presure,
.customer-detail-blood-oxygen,
.customer-detail-glycemia,
.customer-detail-body-temperature,
.customer-detail-uric-acid{
    height: 30px;
    border-bottom: 1px solid #FCFFF5;
    padding:0px 5px;
}

/* all physiological information data */
.customer-detail-phy-block {
    width: 100%;
    padding: 0px 5px;
    margin: 0px;
}

textarea{
    position: relative;
    width: 100%;
    height: 100%;
}
