<aside class="devices-info-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!--  is leave now and count of leave times -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wristband-info-area">
        <section class="is-wristband-onpower no-power col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="wristband">
                {{wristband}}
            </p>
        </section>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wristband-info-area">
        <section class="is-wristband-onpower on-power col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="wristband">
                {{mattress}}
            </p>
        </section>
    </div>
</aside>
