<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 physiological-section">
    <app-physiological class="customer-physiological-card row"></app-physiological>
    <!-- <app-physiological class="customer-physiological-card row"></app-physiological>
    <app-physiological class="customer-physiological-card row"></app-physiological>
    <app-physiological class="customer-physiological-card row"></app-physiological>
    <app-physiological class="customer-physiological-card row"></app-physiological>
    <app-physiological class="customer-physiological-card row"></app-physiological> -->
</section>
